<div class="card has-text-centered is-small">
    <div class="card-content">
       <div class="card-image">
         <figure class = "image" >
           <img src="assets/images/IT Mathematics Logo2.png">
         </figure>
       </div>
       <br/>
       <a class="button is-medium is-outlined is-primary is-rounded" target="_blank" href="https://play.google.com/store/apps/details?id=za.co.itmathematics">
          <span class="icon">
            <i class="fab fa-android"></i>
          </span>
          <span>Get The Android App</span>
        </a>
        <br/>
        <br/>
       <h1 class="title">IT Mathematics</h1>
       <h2 class="subtitle"><i>Created to provide IT Solutions across Mzansi</i></h2>
       <br/>
       <p>
           What does the Application/tool do? well the name is self explanatory,
           It does IT Related computations. this tool calculates 'Mod', 'GCD', 'Generating Groups/ Sub Group', 
           'Order of groups', etc... 
           <br/><br/>
           I made the Application aiming to assist computer science students 
           with abstract algebra/ Discrete Math calculations.
             The Android Application also provides binary conversion and logic gate options. Enjoy 💙
       </p>
  
       </div>
       
       <br/>
       <footer class="card-footer">
         <div class="footer-item">
         &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<a href="mailto:andrieschimule@gmail.com">By A. Chimule</a>
         </div> 
       </footer>
     </div>