.hero{
    background-image: url('../../assets/images/archillect-___CLUHXF7AwM5___-.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat; background-attachment: fixed;
    background-position: center center;
  }