<div class="hero">
    <app-header ></app-header >
  </div>
  <section class="hero is-large is-bold" >
  <div class="hero-body">
    <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class = "title is-1" style="color:black">
              Login
            </h1>
            <br/>
            <h2 class ="subtitle" style="color:blue"><b><i>
              Welcome Mr Chimule</i></b>
            </h2>
          </div>
          <div class="column ">
            <app-loginform></app-loginform>
          </div>
        </div>
        
    </div>
  </div>
</section>
