  <!--header-->


  <section class="hero is-black">
    <div class="hero-head">
      <app-header ></app-header >
    </div>

    <div class="head-body has-text-centered">
      <h1 class="is-size-2 is-family-monospace">Contact Me</h1>
    </div>
    <div class="head-foot">
      <app-header2></app-header2>
    </div>
  </section>
  <section class="section ">
      <div class="container">
        <div class="columns">
          <div class="column is-two-fifths">
            <app-omega></app-omega>  
          </div>
          <div class="column is-auto">
            <h1 class="title">Send Direct Message</h1>
            <app-contactform></app-contactform>
            </div>
          </div>
        </div>
    </section>
    