<!--header-->
<section class="hero is-bold">
    <div class="hero-head">
      <app-header></app-header>
    </div>
    <div class="hero-body">
      <div class="container">
          <h1 class = "title is-1" style="color:black">
            IT Mathematics Assistant.
          </h1>
          <br/>
          <h2 class ="subtitle" style="color:blue"><b><i>
            Making Abstract Algebra/Discrete Mathematics Easy</i></b>
          </h2>
      </div>
    </div>
    <div class="hero-foot">
      <app-header2></app-header2>
    </div>
    
  </section>