.hero{
    background-image: url('../../../../assets/images/she_reading.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat; background-attachment: fixed;
    background-position: center center;
  }