<div class="hero " >
    <nav class = "navbar ">
      <div class="navbar-end">
      <a class="button is-medium is-linkedin is-rounded" target="_blank" href="https://www.linkedin.com/in/andries-chimule-50b810194">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span> 
      </a>&nbsp;&nbsp;
      <a class="button is-medium is-facebook is-rounded" target="_blank" href="https://www.facebook.com/andries.chimule/">
        <span class="icon">
          <i class="fab fa-facebook"></i>
        </span>
      </a>
      &nbsp;&nbsp;
      <a class="button is-medium is-twitter is-rounded" target="_blank" href="https://twitter.com/AChimule">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
       
      </a>
      &nbsp;&nbsp;
      <a class="button is-medium is-instagram is-rounded" target="_blank" href="https://www.instagram.com/omega_g.loc/">
        <span class="icon">
          <i class="fab fa-instagram"></i>
        </span>
      </a>
      &nbsp;&nbsp;
      <a class="button is-medium is-youtube is-rounded"  target="_blank"  href="https://www.youtube.com/channel/UCEFBQBVb9YYoJ_rT9rYYpig">
        <span class="icon">
          <i class="fab fa-youtube"></i>
        </span>
       
      </a>
      <br/><br/>
      </div>
      </nav>
      </div>