<div class="hero is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Contact Details</h1>
        <br/>
        <div class="media">
          <div class="media-left">
              <figure class = "image is-128x128" >
                <img src="assets/images/1313.jpg" class="is-rounded" >
              </figure>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="media-content">
            <br/> <br/>
              <p class="subtitle">Andries Chimule
                <br/>
                <i>  <a href="mailto:andrieschimule@gmail.com">@Omega_The_Creator</a></i>
              </p>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <i class="fas fa-map-marker-alt"></i> Johannesburg, South Africa<br/>
        <i class="fas fa-map-marker-alt"></i> Rustenburg, South Africa<br/><br/>
        <i class="fas fa-mobile-alt"></i> Phone: <a href="tel:+27 65 684 0156"><span>+27 65 684 0156</span></a><br/>
        <i class="fas fa-envelope"></i> Email: <a href="mailto:andrieschimule@gmail.com">andrieschimule@gmail.com</a><br/>
        <i class="fas fa-envelope"></i> Email: <a href="mailto:andrieschimule@yahoo.com">andrieschimule@yahoo.com</a><br/>
      </div>
    </div>
  </div>